* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.player {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width: 40rem;
  width: 100%;
  height: 50rem;
  margin: 0 1rem;
  box-shadow: 0 .1rem 1rem gray;
  padding: 1rem;
  border-radius: .5rem;
}

.logo {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

#imgMusic {
  width: 230rem;
  height: 23rem;
  background-size: cover;
  object-fit: cover;
}

.informacoes {
  display: flex;
  flex-direction: column;
  white-space: nowrap; 
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}

#musicName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 3rem;
}

#authorMusic {
  font-size: 2.5rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.controls i {
  font-size: 6rem;
  padding: .5rem;
  border-radius: 50%;
  background-color: #f7f7f7;
  transition: all .2s;
}

.controls i:hover {
  background-color: lightgray;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time span {
  font-size: 2.2rem;
  color: #333;
}

.footer {
  width: 100%;
}

.progress-bar {
  height: .8rem;
  background-color: #ddd;
  cursor: pointer;
  margin-bottom: .5rem;
  border-radius: .5rem;
}

.progress {
  height: .8rem;
  background-color: #333;
  border-radius: .5rem;
}